.row {
  display: grid;

  &__medium-5 {
    display: grid;
    justify-content: center;
  }

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {

    &__b-margin-until-medium {
      margin-bottom: 0rem;
    }

    &__medium-5 {
      display: grid;
      align-content: stretch;
    }
    
    &__medium-8 {
      display: grid;
      align-content: flex-start;
      justify-content: flex-start;
    }

    grid-template-columns: 5fr 8fr;
    column-gap: 4.0625rem;
  }
}

